*{
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;

}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(lightskyblue, blue, rgb(113, 8, 250));
}

.App{
  display: flex;
}

h1{
  position: sticky;
  transform: scale();
  
}

.content{
  display: flex;
  gap: 10px;
}

.input{
  color: whitesmoke;
  width: 450px;
  height: 350px;
  background-color: rgb(22, 22, 79);
  border-radius: 8px;
  margin: 5px;
  text-align: center;
}

.result{
  color: whitesmoke;
  width: 450px;
  height: 350px;
  background-color: rgb(22, 22, 79);
  border-radius: 8px;
  margin: 5px;
  text-align: center;
  overflow-y: auto;
}

.to-do-card{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background:  cornflowerblue;
}


::-webkit-scrollbar-thumb:hover {
  background-color: blueviolet;
}

h3{
  margin-top: 30px;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
  height: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 3px 0 0 3px;
  border-color: blueviolet;
  border-width: 2px;
  background: none;
  color: whitesmoke;
}

::placeholder{
  padding: 5px;
  color: whitesmoke;
}

button{
  width: 50px;
  height: 28px;

  border: none;
  border-radius: 0 3px 3px 0;
  color: whitesmoke;
  background-color: blueviolet;
}